---
const title = '自鎖式矯正優點';
const contents = [
  {
    id: '01.',
    title: '降低口腔不適感',
    content:
      '因自鎖式矯正器的特性，利用掀蓋來固定矯正線，不需額外再用橡皮圈或鐵線固定，減少口腔異物感，也能夠避免鐵絲勾破口腔組織，造成疼痛不適。',
  },
  {
    id: '02.',
    title: '外型較為低調美觀',
    content:
      '矯正器較小，且少了橡皮筋及鐵絲，提升整體美觀度，也不會發生橡皮圈染色的尷尬情形，自鎖式矯正器也可以選擇使用透明的陶瓷材質，美觀度更佳。',
  },
  {
    id: '03.',
    title: '減少口腔清潔死角，提升清潔便利性',
    content:
      '自鎖式矯正器因為配戴的小零件較少，減少口腔清潔死角，更便於口腔的清潔，避免食物殘留造成細菌滋生，引發牙周病、蛀牙等問題。',
  },
  {
    id: '04.',
    title: '加速矯正速度',
    content:
      '滑蓋的設計減小摩擦力及阻力，矯正的力量能夠更有效的直接傳達到牙齒上，不需要再額外給予過大的力量，能夠更有效率的完成矯正計畫。',
  },
  {
    id: '05.',
    title: '看診速度較短',
    content: '回診時醫師不需要再拆除橡皮圈或鐵絲，可以直接針對矯正器進行調整，大幅減少看診時間，時間安排更加自由。',
  },
];
---

<section
  id="process"
  class="flex flex-wrap mx-auto min-h-[400px] sm:min-h-[500px] md:min-h-[600px] lg:min-h-[650px] w-full relative mt-8 overflow-hidden"
>
  <div class="w-full my-10 md:my-16">
    <p
      class="relative text-default font-bold tracking-[.2em] text-[20px] md:text-[28px] xl:text-[30px] mb-2 after:content-[''] after:border-b-[1px] after:border-default-0 after:block"
    >
      <span class="text-white">{title}</span>
      <span class="absolute top-[.9rem] md:top-[1.3rem] left-0 bg-white pl-4 md:pl-[100px]">{title}</span>
    </p>
  </div>
  <div class="w-10/12 mx-auto mb-16 flex flex-col lg:flex-row">
    <div class="w-full">
      {
        contents.map((content) => (
          <>
            <div class="mb-12 ">
              <div class="mb-6">
                <p class="text-left">
                  <span
                    class="text-white text-3xl md:text-6xl italic tracking-[.1em] font-bold"
                    style="text-shadow: 0px 0px 2px #654f25, 0px 0px 2px #654f25;"
                  >
                    {content.id}
                  </span>
                  <span class="text-default font-bold tracking-[.2em] text-[20px] md:text-[20px] xl:text-[26px] my-4">
                    {content.title}
                  </span>
                </p>
              </div>
              <div>
                <p class="text-default tracking-[.1em] text-[12px] md:text-[16px] xl:text-[16px] leading-loose text-left">
                  {content.content}
                </p>
              </div>
            </div>
          </>
        ))
      }
    </div>
  </div>
</section>
