---
const title = '自鎖式矯正流程';
const contents1 = [
  {
    id: '01.',
    title: '初次矯正諮詢',
    subtitle: '數位模擬矯正後模樣，掌握矯正資訊！',
    content:
      '初次諮詢，診所會先為您拍攝全口X光片，讓醫師了解您的齒顎及口腔狀況，並結合側顱X光片及Iteo口掃機，創建牙齒數位3D模型，模擬牙齒矯正後的樣子，讓您能夠更加具體了解矯正後的變化，初次諮詢也會提供預估矯正時間及費用等資訊，讓您清楚掌握矯正相關資訊。',
    image: '/assets/images/self-brace/process-1.jpg',
  },
  {
    id: '02.',
    title: '牙齒矯正資料蒐集',
    content:
      '當您確定選擇自鎖式矯正後，醫師會進行矯正資料蒐集及分析，並為您拍攝口內外照片及印模，綜整您的需求，量身製訂專屬的矯正療程計畫。',
    image: '/assets/images/self-brace/process-2.jpg',
  },
  {
    id: '03.',
    title: '矯正前檢查',
    content:
      '在裝置矯正器前，醫師會先進行全面的口腔檢查，如口腔有其他狀況像是：蛀牙、牙周病、補牙、根管治療等等，醫師會建議在矯正開始前，完成牙科治療，在牙齒健康的基礎下，再進行矯正療程。',
    image: '/assets/images/self-brace/process-3.jpg',
  },
  {
    id: '04.',
    title: '裝置矯正器',
    content: '依據每個人的療程計畫，醫師會評估一次或分次裝置矯正器。',
    image: '/assets/images/self-brace/process-4.jpg',
  },
  {
    id: '05.',
    title: '定期回診',
    content:
      '戴上矯正器後，根據每個人的矯正狀況，大約2-3周回診一次，因自鎖式矯正器的特性，不需再拆除用來固定的橡皮圈或鐵絲，回診時的診療時間，相較於傳統矯正來的短。',
    image: '/assets/images/self-brace/process-5.jpg',
  },
  {
    id: '06.',
    title: '矯正完成',
    image: '/assets/images/self-brace/process-6.jpg',
  },
  {
    id: '07.',
    title: '後續維持',
    content:
      '完成矯正後，為了避免牙齒位移，會為您客製專屬的維持器，請記得依照醫師指示配戴，並依照醫師建議時間回診追蹤。',
    image: '/assets/images/self-brace/process-7.jpg',
  },
];
---

<section
  id="process"
  class="bg-default-bg-0 flex flex-wrap mx-auto py-10 md:py-16 md:pb-16 min-h-[400px] sm:min-h-[500px] md:min-h-[600px] lg:min-h-[650px] w-full relative mt-8 overflow-hidden"
>
  <div class="w-full my-10 md:my-16">
    <p
      class="relative text-default font-bold tracking-[.2em] text-[20px] md:text-[28px] xl:text-[30px] mb-2 after:content-[''] after:border-b-[1px] after:border-default-0 after:block"
    >
      <span class="text-default-bg-0">{title}</span>
      <span class="absolute top-[.9rem] md:top-[1.3rem] left-0 bg-default-bg-0 pl-4 md:pl-[100px]">{title}</span>
    </p>
  </div>
  {
    contents1.map((content, index) => (
      <div class:list={['w-full h-auto py-10 flex items-center', { 'flex-row-reverse': index % 2 === 0 }]}>
        <div class="w-full h-full md:w-[60%] flex flex-wrap px-4">
          <div class="w-full text-center md:text-left h-full max-h-[300px] my-auto py-12">
            <div class="lg:ml-6 lg:min-h-[200px]">
              <div class="mb-6">
                <p class="text-left">
                  <span
                    class="text-default-bg-0 text-3xl md:text-6xl italic tracking-[.1em] font-bold"
                    style="text-shadow: 0px 0px 2px #654f25, 0px 0px 2px #654f25;"
                  >
                    {content.id}
                  </span>
                  <span class="text-default font-bold tracking-[.2em] text-[20px] md:text-[20px] xl:text-[26px] my-4">
                    {content.title}
                  </span>
                </p>
              </div>
              <div class="mb-6">
                <span class="text-default font-bold tracking-[.2em] text-[20px] md:text-[20px] xl:text-[20px] underline my-4">
                  {content?.subtitle}
                </span>
              </div>
              <div>
                <p class="text-default tracking-[.1em] text-[12px] md:text-[16px] xl:text-[16px] leading-loose text-left">
                  {content?.content}
                </p>
              </div>
            </div>
            <p class="relative text-default font-bold tracking-[.2em] text-[15px] mb-2 after:content-[''] after:border-b-[1px] after:border-default-0 after:block">
              <span class="text-default-bg-0">{title}</span>
            </p>
          </div>
        </div>

        <div class="w-full md:w-[40%] overflow-hidden flex items-center">
          <div
            class:list={[
              'w-full h-full text-left md:max-h-[500px] flex flex-row',
              { 'flex-row-reverse': index % 2 === 1 },
            ]}
          >
            <div class="w-10/12">
              <img class="w-full h-full md:min-h-[450px] object-cover" src={content.image} alt="" />
            </div>
          </div>
        </div>
      </div>
    ))
  }

  <div
    class="absolute hidden right-0 xl:left-0 -bottom-4 sm:-bottom-4 md:-bottom-3 md:block lg:-bottom-6 pointer-events-none w-full text-right"
  >
    <span
      class="text-white font-extrabold tracking-[.12em] text-[0px] sm:text-[52px] md:text-[60px] lg:text-[75px] whitespace-nowrap"
      >Invisalign</span
    >
  </div>
</section>
