---
import Title from '~/components/widgets/common/Title.astro';
const title = '設備介紹';
const subtitle = 'Dental Equipment';
const list = [
  {
    name: '診療椅',
    image: '/assets/images/index/equipment-2.png',
    content: [
      {
        title: '舒適',
        desc: '出自日本職人工藝，符合人體工學的座椅，讓診療過程更加舒適。',
      },
      {
        title: '安心',
        desc: '三軸旋轉手術燈，使診療照明更加精準，提升診療效率，提供一個安心且可靠的看診環境。',
      },
    ],
    brand: 'Yoshida',
    country: '日本',
  },
  {
    name: '顯微鏡',
    image: '/assets/images/index/equipment-2.png',
    content: [
      {
        title: '',
        desc: '透過顯微鏡的放大倍率,讓牙齒的微小細節都能清晰呈現,醫師能更細緻地處理特殊形態、細微的神經管,大幅提升治療的精準度及成功率,降低需要再治療的狀況發生。',
      },
      {
        title: '找到病根',
        desc: '牙齒結構細微且複,因有顯微鏡的輔助,補充光源、精準定位,幫助醫師找到病根,剷除感染區域,讓患者得以保留更多齒質,提升牙齒被保留的機會。',
      },
    ],
    brand: 'Zumax',
    country: '德國',
  },
  {
    name: '數位口掃機',
    image: '/assets/images/index/equipment-2.png',
    content: [
      {
        title: '',
        desc: '免除傳統印模不適與曬心感。',
      },
      {
        title: '隱適美開發',
        desc: 'Itero是隱適美公司的產品,能夠完美結合隱適美矯正系統,具有以下優勢:\n●可以即時模擬矯正完成的模樣,準確度達60%,讓患者更具體了解矯正的變化。\n●製作矯正模擬動畫,方便醫師追蹤治療進度,掌握矯正療程計畫,提升矯正精準度。',
      },
    ],
    brand: 'Itero',
    country: '美國',
  },
  {
    name: '真空消毒鍋',
    image: '/assets/images/index/equipment-2.png',
    content: [
      {
        title: '多次真空消毒',
        desc: '診所消毒室配置w&HLina全自動滅菌真空消毒鍋,將器械預抽三次真空並高溫高壓乾燥消毒滅菌,提供更安全的診療環境。',
      },
      // {
      //   title: '安心',
      //   desc: '三軸旋轉手術燈，使診療照明更加精準，提升診療效率，提供一個安心且可靠的看診環境。',
      // },
    ],
    brand: 'W&HLina',
    country: '奥地利',
  },
  {
    name: '3D數位斷層掃描',
    image: '/assets/images/index/equipment-2.png',
    content: [
      {
        title: '精準',
        desc: '電腦斷層掃描合成3D影像,提供術前模擬及分析,讓醫師在進行矯正、根管或植牙等療程時,提供安全度高、更精準地的療程計畫。',
      },
      {
        title: '安全性高',
        desc: '360度全覽口腔狀況,利於減少口腔組織破壞，縮小傷口範圍、減緩疼痛感、腫脹更少。',
      },
    ],
    brand: 'Planmeca',
    country: '芬蘭',
  },
];
---

<!-- 
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
  integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css"
  integrity="sha512-OTcub78R3msOCtY3Tc6FzeDJ8N9qvQn1Ph49ou13xgA9VsH9+LRxoFU6EqLhW4+PKRfU+/HReXmSZXHEkpYoOA=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/> -->
<style is:global>
  [aria-current]:not([aria-current='false']) {
    background-color: #8a754e;
  }
  #s0:checked ~ ._cards #slide3,
  #s1:checked ~ ._cards #slide4,
  #s2:checked ~ ._cards #slide0,
  #s3:checked ~ ._cards #slide1,
  #s4:checked ~ ._cards #slide2 {
    /* transform: translate3d(-300%, 0, -220px); */
    display: none;
  }

  #s0:checked ~ ._cards #slide4,
  #s1:checked ~ ._cards #slide0,
  #s2:checked ~ ._cards #slide1,
  #s3:checked ~ ._cards #slide2,
  #s4:checked ~ ._cards #slide3 {
    transform: translate3d(-70%, 0, -120px);
  }

  #s0:checked ~ ._cards #slide4 .card-desc,
  #s1:checked ~ ._cards #slide0 .card-desc,
  #s2:checked ~ ._cards #slide1 .card-desc,
  #s3:checked ~ ._cards #slide2 .card-desc,
  #s4:checked ~ ._cards #slide3 .card-desc {
    display: none;
  }

  #s0:checked ~ ._cards #slide0,
  #s1:checked ~ ._cards #slide1,
  #s2:checked ~ ._cards #slide2,
  #s3:checked ~ ._cards #slide3,
  #s4:checked ~ ._cards #slide4 {
    transform: translate3d(0, 0, 0);
  }

  #s0:checked ~ ._cards #slide0 .name,
  #s1:checked ~ ._cards #slide1 .name,
  #s2:checked ~ ._cards #slide2 .name,
  #s3:checked ~ ._cards #slide3 .name,
  #s4:checked ~ ._cards #slide4 .name {
    background-color: rgb(138 117 78);
  }

  #s0:checked ~ ._cards #slide1,
  #s1:checked ~ ._cards #slide2,
  #s2:checked ~ ._cards #slide3,
  #s3:checked ~ ._cards #slide4,
  #s4:checked ~ ._cards #slide0 {
    transform: translate3d(130%, 0, -120px);
  }

  #s0:checked ~ ._cards #slide1 .card-desc,
  #s1:checked ~ ._cards #slide2 .card-desc,
  #s2:checked ~ ._cards #slide3 .card-desc,
  #s3:checked ~ ._cards #slide4 .card-desc,
  #s4:checked ~ ._cards #slide0 .card-desc {
    display: none;
  }

  #s0:checked ~ ._cards #slide2,
  #s1:checked ~ ._cards #slide3,
  #s2:checked ~ ._cards #slide4,
  #s3:checked ~ ._cards #slide0,
  #s4:checked ~ ._cards #slide1 {
    display: none;
  }

  @media (max-width: 1280px) {
    #s0:checked ~ ._cards #slide1,
    #s1:checked ~ ._cards #slide2,
    #s2:checked ~ ._cards #slide3,
    #s3:checked ~ ._cards #slide4,
    #s4:checked ~ ._cards #slide0 {
      transform: translate3d(200%, 0, 0);

      display: none;
    }
    #s0:checked ~ ._cards #slide4,
    #s1:checked ~ ._cards #slide0,
    #s2:checked ~ ._cards #slide1,
    #s3:checked ~ ._cards #slide2,
    #s4:checked ~ ._cards #slide3 {
      transform: translate3d(-200%, 0, 0);

      display: none;
    }
  }
</style>

<section id="dental-equipment" class="flex items-center mx-auto py-16 md:py-32 overflow-x-hidden">
  <div class="w-10/12 xl:w-8/12 h-full flex flex-wrap items-center justify-center mx-auto">
    <div class="w-full text-center my-5 mb-10">
      <Title title={title} subtitle={subtitle} />
    </div>
    <div class="w-full justify-center items-center">
      <div
        class="w-full h-full max-w-[550px] md:max-h-[500px] flex flex-col justify-center items-center text-default font-semibold text-[16px] sm:text-[20px] md:text-2xl mx-auto"
        style="transform-style: preserve-3d;"
      >
        <!-- Slider indicators -->
        <div class="absolute z-30 -bottom-[30px] flex space-x-3 -translate-x-1/2 left-1/2">
          {
            list.map((image, index) => (
              <>
                <button
                  type="button"
                  class="w-3 h-3 rounded-full bg-default-0 hover:bg-default dental-btn"
                  aria-current={index === 0 ?? false}
                  data-carousel-slide-to-custom={index}
                />
              </>
            ))
          }
        </div>
        {
          list.map((image, index) => (
            <>
              <input
                class="hidden card"
                type="radio"
                name="slider"
                id={'s' + index}
                checked={index === 0 ?? false}
                value={index}
              />
            </>
          ))
        }
        <!-- Carousel wrapper -->
        <div
          class="_cards relative h-auto min-h-[500px] md:min-h-[350px] w-full md:w-[500px]"
          style="perspective: 1000px; transform-style: preserve-3d;"
        >
          {
            list.map((item, index) => (
              // <div class="flex w-full">
              <label
                class="xl:absolute w-full md:w-[500px] left-0 right-0 m-auto cursor-pointer transition-transform ease-linear duration-500"
                for={'s' + index}
                id={'slide' + index}
              >
                <div class="card relative flex flex-col md:flex-row h-full border-5 min-h-[350px]">
                  <div class="h-auto w-full xl:w-2/5 relative flex items-center">
                    <img
                      src={item.image}
                      class="w-full pt-[50px] max-h-[250px] object-contain md:h-auto "
                      alt={index + ''}
                    />
                    <p class="absolute xl:text-xl top-5 px-4 py-2 bg-green-bg active:bg-default text-white name">
                      {item.name}
                    </p>
                  </div>

                  <div class="card-desc w-full h-auto xl:w-3/5 bg-default-bg pb-12 p-4">
                    {item.content.map((content) => (
                      <div class="mb-2">
                        {content.title.length > 0 ? (
                          <div class="border-b border-default-0 text-default-2 text-[18px] text-left font-semibold tracking-[.1em] mb-1">
                            {content.title}
                          </div>
                        ) : (
                          ''
                        )}
                        <p class="-mt-2 text-left text-sm hover:text-default-2 text-default font-medium tracking-[.1em] whitespace-pre-line">
                          {content.desc}
                        </p>
                      </div>
                    ))}
                    <div class="w-full absolute bottom-8 text-sm text-default font-medium tracking-[.1em]">
                      <p class="text-left">
                        品牌：{item.brand} <span class="ml-4">國家：{item.country}</span>
                      </p>
                    </div>
                  </div>
                </div>
              </label>
              // </div>
            ))
          }
        </div>

        <!-- Slider controls -->
        <button
          type="button"
          class="absolute top-0 -left-[50px] z-30 flex items-center justify-center h-full px-4 cursor-pointer group outline-1 focus:outline-none"
          data-carousel-prev-custom
        >
          <span
            class="inline-flex items-center justify-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none"
          >
            <svg
              aria-hidden="true"
              class="w-5 h-5 text-default-0 sm:w-8 sm:h-8 dark:text-gray-800"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
              ><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path></svg
            >
            <span class="sr-only">Previous</span>
          </span>
        </button>
        <button
          type="button"
          class="absolute top-0 -right-[50px] z-30 flex items-center justify-center h-full px-4 cursor-pointer group outline-1 focus:outline-none"
          data-carousel-next-custom
        >
          <span
            class="inline-flex items-center justify-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none"
          >
            <svg
              aria-hidden="true"
              class="w-5 h-5 text-default-0 sm:w-8 sm:h-8 dark:text-gray-800"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
              ><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg
            >
            <span class="sr-only">Next</span>
          </span>
        </button>
      </div>
    </div>
  </div>
</section>

<!-- <script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"
  integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
  integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script> -->
