---
const title = '一般矯正優點';
const contents = [
  {
    id: '01.',
    title: '費用較低',
    content: '相較於隱適美矯正器或自鎖式矯正器，一般矯正器費用較低，如有預算考量，可以考慮使用一般矯正。',
  },
  {
    id: '02.',
    title: '不會遺失',
    content: '矯正器固定在牙齒上，不會有保存的困擾。',
  },
  {
    id: '03.',
    title: '矯正器不停地作用',
    content: '矯正器24小時黏在牙齒，可以不停地對牙齒施力，產生移動效果。',
  },
];
---

<section
  id="process"
  class="flex flex-wrap mx-auto min-h-[400px] sm:min-h-[500px] md:min-h-[600px] lg:min-h-[650px] w-full relative mt-8 overflow-hidden pb-10 md:pb-16"
>
  <div class="absolute hidden -z-10 right-0 xl:left-0 md:block -bottom-[1.3rem] pointer-events-none w-full text-left">
    <span
      class="text-default-bg font-extrabold tracking-[.12em] text-[24px] sm:text-[42px] md:text-[52px] lg:text-[65px] whitespace-nowrap"
      >Mu Cheng Dental Clinic</span
    >
  </div>
  <div class="w-full my-10 md:my-16">
    <p
      class="relative text-default font-bold tracking-[.2em] text-[20px] md:text-[28px] xl:text-[30px] mb-2 after:content-[''] after:border-b-[1px] after:border-default-0 after:block"
    >
      <span class="text-white">{title}</span>
      <span class="absolute top-[.9rem] md:top-[1.3rem] left-0 bg-white pl-4 md:pl-[100px]">{title}</span>
    </p>
  </div>
  <div class="w-10/12 mx-auto mb-16 flex flex-col lg:flex-row">
    <div class="w-full">
      {
        contents.map((content) => (
          <>
            <div class="mb-12 ">
              <div class="mb-6">
                <p class="text-left">
                  <span
                    class="text-white text-3xl md:text-6xl italic tracking-[.1em] font-bold"
                    style="text-shadow: 0px 0px 2px #654f25, 0px 0px 2px #654f25;"
                  >
                    {content.id}
                  </span>
                  <span class="text-default font-bold tracking-[.2em] text-[20px] md:text-[20px] xl:text-[26px] my-4">
                    {content.title}
                  </span>
                </p>
              </div>
              <div>
                <p class="text-default tracking-[.1em] text-[12px] md:text-[16px] xl:text-[16px] leading-loose text-left">
                  {content.content}
                </p>
              </div>
            </div>
          </>
        ))
      }
    </div>
  </div>
</section>
