---
const title = '顯微輔助根管治療優點';
const contents = [
  {
    id: '01.',
    title: '保留更多齒質、提高健康牙齒保存機會',
    content:
      '除了傷口較小之外，在顯微鏡放大倍率的鏡頭下，醫師可更加確認操作位置，減少對健康齒質的破壞，保留齒質結構，提升健康牙齒保存的機會。',
  },
  {
    id: '02.',
    title: '提升治療成功率',
    content:
      '根管治療要做到徹底，除了木成醫師豐富的經驗及技術外，特別引進高規格的顯微鏡，讓醫師能夠透過更清晰的影像，將技術完美發揮，提升療程的成功率。',
  },
];
---

<section
  id="process"
  class="flex flex-wrap mx-auto min-h-[400px] sm:min-h-[500px] md:min-h-[600px] lg:min-h-[650px] w-full relative mt-8 overflow-hidden"
>
  <div class="w-full my-10 md:my-16">
    <p
      class="relative text-default font-bold tracking-[.2em] text-[20px] md:text-[28px] xl:text-[30px] mb-2 after:content-[''] after:border-b-[1px] after:border-default-0 after:block"
    >
      <span class="text-white">{title}</span>
      <span class="absolute top-[.9rem] md:top-[1.3rem] left-0 bg-white pl-4 md:pl-[100px]">{title}</span>
    </p>
  </div>
  <div class="w-10/12 mx-auto mb-16 flex flex-col lg:flex-row">
    <div class="w-full">
      {
        contents.map((content) => (
          <>
            <div class="mb-12 ">
              <div class="mb-6">
                <p class="text-left">
                  <span
                    class="text-white text-3xl md:text-6xl italic tracking-[.1em] font-bold"
                    style="text-shadow: 0px 0px 2px #654f25, 0px 0px 2px #654f25;"
                  >
                    {content.id}
                  </span>
                  <span class="text-default font-bold tracking-[.2em] text-[20px] md:text-[20px] xl:text-[26px] my-4">
                    {content.title}
                  </span>
                </p>
              </div>
              <div>
                <p class="text-default tracking-[.1em] text-[12px] md:text-[16px] xl:text-[16px] leading-loose text-left">
                  {content.content}
                </p>
              </div>
            </div>
          </>
        ))
      }
    </div>
  </div>
</section>
