---
import { Icon } from 'astro-icon';
import Logo from '~/components/common/Logo.astro';
// import ToggleTheme from '~/components/common/ToggleTheme.astro';
import ToggleMenu from '~/components/common/ToggleMenu.astro';

import { getHomePermalink, getPermalink } from '~/utils/permalinks';

const links = [
  {
    text: '首頁',
    links: [
      {
        text: '醫師介紹',
        href: getPermalink('/') + '#our-team',
      },
      {
        text: '診所環境',
        href: getPermalink('/') + '#visiting-environment',
      },
      {
        text: '診所設備',
        href: getPermalink('/') + '#dental-equipment',
      },
    ],
    color: 'default',
    href: getPermalink('/'),
  },
  {
    text: '微笑曲線',
    links: [
      {
        text: '隱適美矯正',
        href: '#',
      },
      {
        text: '自鎖式矯正',
        href: '#',
      },
      {
        text: '一般矯正',
        href: '#',
      },
    ],
    color: 'default',
    href: getPermalink('smile-curve'),
  },
  {
    text: '牙齒美白',
    links: [
      {
        text: '冷光美白',
        href: '#',
      },
      {
        text: '居家美白',
        href: '#',
      },
    ],
    color: 'default',
    href: getPermalink('/teeth-beauty'),
  },
  {
    text: '顯微輔助治療',
    links: [],
    color: 'default',
    href: getPermalink('/micro-cure'),
  },
  {
    text: '人工植牙',
    links: [],
    color: 'default',
    href: getPermalink('/artifact-teeth'),
  },
  {
    text: '一般牙科',
    links: [],
    color: 'default',
    href: getPermalink('/normal-teeth'),
  },
  {
    text: '聯絡我們',
    links: [],
    color: 'green',
    href: getPermalink('/contact-us'),
  },
  // {
  //   text: 'Example',
  //	links: [],
  //   href: getPermalink('/example'),
  // },
];
---

<header class="bg-white sticky top-0 z-40 flex-none mx-auto w-full transition-all ease-in duration-100" id="header">
  <div class="py-3 px-3 lg:py-3.5 lg:px-4 mx-auto w-full lg:flex lg:justify-between max-w-8xl">
    <div class="flex justify-between">
      <a class="flex items-center" href={getHomePermalink()}>
        <Logo image={{ src: import('~/assets/images/Logo.png'), alt: 'Logo' }} />
      </a>
      <!-- 手機版畫面不顯示 -->
      <div class="flex items-center lg:hidden">
        <!-- <ToggleTheme /> -->
        <ToggleMenu />
      </div>
    </div>
    <!-- nav 只要他在手機畫面就會隱藏 -->
    <nav
      class="items-center w-full lg:w-auto lg:flex text-default dark:text-slate-200 h-[calc(100vh-72px)] lg:h-auto overflow-y-auto lg:overflow-visible"
      aria-label="Main navigation"
    >
      <ul class="flex flex-col pt-8 lg:pt-0 lg:flex-row lg:self-center w-full lg:w-auto text-xl lg:text-base">
        {
          links.map(({ text, href, links, color }) => (
            <li class={links?.length ? 'dropdown' : ''}>
              {links?.length ? (
                <>
                  <a
                    href={href}
                    class="text-lg font-semibold hover:text-green dark:hover:text-white px-4 py-3 flex items-center transition duration-150 ease-in-out"
                  >
                    {text} <Icon name="tabler:chevron-down" class="w-3.5 h-3.5 ml-0.5 hidden lg:inline" />
                  </a>
                  <ul class="dropdown-menu  justify-center rounded lg:absolute pl-6 lg:pl-0 lg:hidden font-semibold lg:bg-white lg:min-w-[100px] dark:md:bg-slate-800 drop-shadow-xl">
                    {links.map(({ text: text2, href: href2 }) => (
                      <li>
                        <a
                          class="first:rounded-t last:rounded-b hover:text-green md:hover:bg-gray-100 dark:hover:bg-gray-700 py-5 px-2 block whitespace-no-wrap lg:text-center"
                          href={href2}
                        >
                          {text2}
                        </a>
                      </li>
                    ))}
                  </ul>
                </>
              ) : (
                <a
                  class:list={[
                    'text-lg font-semibold hover:text-green dark:hover:text-white px-4 py-3 flex items-center transition duration-150 ease-in-out',
                    { 'text-green hover:text-green-light hover:opacity-75': color === 'green' },
                  ]}
                  href={href}
                >
                  {text}
                </a>
              )}
            </li>
          ))
        }
      </ul>
      <!-- <div class="md:self-center flex items-center md:mb-0 ml-4">
        <div class="hidden items-center md:flex">
          <ToggleTheme iconClass="w-5 h-5" />
          <a
            class="btn w-full ml-3 py-2.5 px-5 font-semibold text-gray-600 shadow-none text-sm"
            href="https://github.com/onwidget/astrowind">Download</a
          >
        </div>
      </div> -->
    </nav>
  </div>
</header>
